.main-container, .buttons {
    display: flex;
}

.primary {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #72C3DC;
    color: white;
    border: none;
    box-shadow: 0 8px 6px -6px #2b8ead;
    margin:10px;
}

.note {
    text-align: center;
}
